.jumbotron {
    background-image: url('../images/spider_man_in_avengers_infinity_war.jpg');
    
    -webkit-background-size: cover;
   -moz-background-size: cover;
   background-size: cover;
   -o-background-size: cover;
    height: 100%;
    color: white;
    margin-top: 1px;  
}
